


:root {
  --grintaaa: #81D400;
  --grintaaa-light: rgba(129, 212, 0, 0.1);
  --navbar-height: 60px;
  --light-gray: #F2F3F5;
  --dark-gray: #7f7f7f;
  --middle-gray: #F0F2F5;
  --danger: #ff5c40;
}
