
.form-wrapper {
  /*margin-bottom: 10px;*/
  /*border: 1px solid var(--light-gray);*/
  /*padding: 10px;*/

  /*background-color: #fff;*/
  border-radius: 5px;
}

.new-post .container-fluid {
  padding: 0;
}

.new-post-header {
  background-color: var(--light-gray);
  padding: 5px;
}

.new-post-content {
  padding: 20px 10px;
}

.new-post-send .input-group-btn {
  display: block;
}

hr {
  margin: 10px 0;
}

.user-picture {
  width: 100%;
}


.form-control.post-content {
  border: none;
  box-shadow: none;
}

.no-resize {
  resize: none;
}


.btn-file {
  position: relative;
  overflow: hidden;
  background-color: var(--light-gray);
  border-radius: 5px !important;
}

.btn-file label {
  cursor: pointer;
}

/* .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 10px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
} */
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
