
.reply-wrapper {
  margin: 0 0 10px;
}

.reply-container {
  padding-left: 15px;
  position: relative;
}

.btn-action-comment {
  background-color: transparent;
  padding: 0;
  text-decoration: underline;
}
.btn-update {
  background-color: transparent;
  border: none;
  text-decoration: underline;
}
.btn-update.btn-primary {
  color: #428bca;
}

.user-name {
  color: var(--grintaaa);
}
.reply {
  width: 100%;
  /*background-color: var(--light-gray);*/
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
.reply-user-content {
  width: 90%;
  max-width: calc(100% - 90px);
  word-break: break-word;
  white-space: normal;
  word-wrap: break-word;
}

.reply-edition {
  /*position: absolute;*/
  /*display: inline-block;*/
  /*top: 50%;*/
  /*right: 0;*/
  /*transform: translateY(-50%);*/
  /*z-index: 1;*/
  align-self: center;
}
.reply-edition .dropdown-menu {
  /*right: 0;*/
  /*left: unset;*/
  padding: .5rem;
}
.reply-edition .dropdown-menu li > a:hover {
  color: var(--grintaaa);
}
