ul.header-nav li a {
  border: 1px solid var(--grintaaa);
}

ul.header-nav li a i {
  position: relative;
  top: -2px;
}

ul.header-nav li a.active {
  border-color: var(--iq-danger);
}

ul.header-nav li a i.active {
  color: var(--iq-danger);
}

.profile-img img {
  border: 5px solid #fff;
  height: 130px;
}

.profile-img .profile-img-wrapper {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  /*overflow: hidden;*/
}

.profile-header .user-detail {
  z-index: 1000;
  bottom: -30px;
  /*left: unset;*/
}

.user-score {
  position: absolute;
  top: -5px;
  right: -5px;
  background: url("../../../../../assets/images/icons/star.png") no-repeat scroll center center;
  background-size: cover;
  /*background-color: var(--grintaaa);*/
  /*border-radius: 50%;*/
  color: #000;
  width: 45px;
  height: 43px;
  line-height: 45px;
  font-weight: 800;
}

.user-score-aside {
  top: unset;
  bottom: 0;
  transform: translateY(40%);
  z-index: 1010;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
}


ul.header-nav li a {
  display: block;
  list-style: none;
  height: auto;
  width: auto;
  background-color: var(--iq-white);
  border-radius: 0;
  border: none;
  line-height: 25px;
  text-align: center;
  color: var(--grintaaa);
  /*margin: 0;*/
  font-size: 1rem;
}

ul.header-nav li a.dropdown-item {
  color: var(--iq-dark) !important;
}

ul.header-nav li > a {
  line-height: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 18px;
  /*margin: 0 15px 0 0;*/
}


@media (max-width: 576px) {
  .profile-img img {
    width: 100px;
  }
}

@media (max-width: 767px) {
  .profile-header .user-detail {
    margin-bottom: 0;
  }

  .profile-img img {
    width: 100px;
  }
}

@media (max-width: 992px) {
  .profile-feed-items li a {
    margin: 0;
  }
}
